h3 {
  color: Gray;
}
.titleSearch {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  width: 100%;
}

.search {
  width: 100%;
}

.vacancyCard {
  height: 248px;
  width: 659px;
  border-radius: 12px;
}
